<div class="col-md-12 col-sidebar-menu">
 
  <ul class="nav nav-sidebar">
    <%- navigation.each.with_index do |topic_group, groupidx| -%>
      <%- current_group = topic_group[:id] == group_id -%>
      <li class="nav-header <%= current_group ? 'active' : '' %>">
        <a class="<%= current_group ? 'active' : '' %>" href="#" data-toggle="collapse" data-target="#topicGroup<%= groupidx %>" aria-expanded="<%= current_group ? 'true' : 'false' %>">
          <span class="nav-label"><%= topic_group[:name] %></span>
        </a>
        <ul id="topicGroup<%= groupidx %>" class="collapse <%= current_group ? 'in show' : '' %> list-unstyled level-1">
          
          <%- topic_group[:topics].each.with_index do |topic, topicidx| -%>
          
            <%- if not topic.has_key?(:topics) -%>
              <%- current_topic = current_group && (topic[:id] == topic_id) -%>
              <li>
                <a class="<%= current_topic ? ' active' : '' %>" href="<%= subtopic_shim %><%= topic[:path] %>">
                  <%= topic[:name] %>
                </a>
              </li>
            <%- else -%>
              <%- current_subgroup = topic[:id] == subgroup_id -%>
              <li class="nav-header">
                <a href="#" data-toggle="collapse" data-target="#topicSubGroup-<%= groupidx %>-<%= topicidx %>" aria-expanded="<%= current_subgroup ? 'true' : 'false' %>">
                  <%= topic[:name] %>
                </a>
                <ul id="topicSubGroup-<%= groupidx %>-<%= topicidx %>" class="nav-tertiary list-unstyled collapse <%= current_subgroup ? ' in show' : '' %> level-2" >
                  <%- topic[:topics].each do |subtopic| -%>
                    <%- current_subtopic = current_group && current_subgroup && (subtopic[:id] == topic_id) %>
                    <li>
                      <a class="<%= current_subtopic ? ' active' : '' %>" href="<%= subtopic_shim %><%= subtopic[:path] %>"><%= subtopic[:name] %></a>
                    </li>
                  <%- end -%>
                </ul>
              </li>
            <%- end -%>
          <%- end -%>
        </ul>
      </li>
    <%- end -%>
  </ul>


</div>